body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.heading {
    font-size: 5rem;
    font-weight: bold;
    transition: color 0.3s ease;
}
