body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffff;
}

.heading {
    font-size: 40px;
    font-weight: bold;
    transition: color 0.3s ease;
}
